<html>
<head>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='vue.js') }}"></script>
<!--
<script src="https://unpkg.com/vue/dist/vue.js"></script>
-->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!--
    <table border = 1>
      <thead>
        <td>Name</td>
        <td>Address</td>
        <td>City</td>
        <td>Pincode</td>
      </thead>

      {% for row in rows %}
        <tr>
          <td>{{ row["name"] }}</td>
          <td>{{ row["addr"] }}</td>
          <td>{{ row["city"] }}</td>
          <td>{{ row["pin"] }}</td>
        </tr>
      {% endfor %}
    </table>
    -->



    <!-- component template -->
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          [[ key | capitalize ]]
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          [[ entry[key] ]]
        </td>
      </tr>
    </tbody>
  </table>
</script>

<!-- demo root element -->

<div id="demo">
  <form id="search">
    Search <input name="query" v-model="searchQuery">
  </form>
  <demo-grid
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery">
  </demo-grid>
</div>



<a href = "/">go back to home page</a>


<script>
//Vue.config.delimiters = ['[[', ']]']

// register the grid component
Vue.component('demo-grid', {
  template: '#grid-template',
  delimiters: ["[[","]]"],
  props: {
    data: Array,
    columns: Array,
    filterKey: String
  },
  data: function () {
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key] = 1
    })
    return {
      sortKey: '',
      sortOrders: sortOrders
    }
  },
  computed: {
    filteredData: function () {
      var sortKey = this.sortKey
      var filterKey = this.filterKey && this.filterKey.toLowerCase()
      var order = this.sortOrders[sortKey] || 1
      var data = this.data
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? 1 : -1) * order
        })
      }
      return data
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  },
  methods: {
    sortBy: function (key) {
      this.sortKey = key
      this.sortOrders[key] = this.sortOrders[key] * -1
    }
  }
})

// bootstrap the demo
var demo = new Vue({
  el: '#demo',
  delimiters: ["[[","]]"],
  data: {
    searchQuery: '',
    gridColumns: ['Personnel', 'Start', 'End', 'Client', 'Section', 'Patient', 'Country', 'Summary'],
    gridData: [
    {% for row in rows %}
      { 
        Personnel: '{{ row[1] }}', 
        Start: '{{ row[2] }}', 
        End: '{{ row[3] }}', 
        Client: '{{ row[4] }}', 
        Section: '{{ row[5] }}', 
        Patient: '{{ row[6] }}', 
        Country: '{{ row[7] }}',
        Summary: {{ row[8].splitlines()|safe }} },
    {% endfor %}
    ]
  }
})
</script>

</body>


 
</html>